# temporary build folder
build/
__pycache__/

# IDEA folders
.idea/

# CMake build folder
**/*build*/*

# Clang precompiled headers
.stdafx.c*

# VS Code
.vscode/

# C/C++ output
**/*.exe
**/*.out
**/*.o

# Java output
**/*.class
**/*.jar

# DB files
**/*.db

# Linux kernel build
**/*.o.cmd
**/*.symvers
**/*.order
**/*.mod.c
**/*.ko
**/*.ko.cmd
**/.tmp_versions/

# Gradle
.gradle/
